.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #065A60; /* Deep green background inspired by the logo */
}

.auth-form-container {
  padding: 40px;
  background-color: #F8F0E3; /* Soft white/off-white background for contrast */
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow for depth */
  border-radius: 8px;
  width: 340px;
}

/* Style for both login and register forms */
.form {
  display: flex;
  flex-direction: column;
}

/* Shared input style */
.form input[type="email"],
.form input[type="password"],
.form input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #FFD700; /* Gold border to match the logo */
  border-radius: 4px;
  background-color: #FAFAFA; /* Slightly off-white input fields */
}

/* Shared button style */
.form button {
  padding: 10px;
  background-color: #FFD700; /* Gold background for buttons */
  color: #065A60; /* Deep green text to match the background */
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.form button:hover {
  background-color: #C5A00C; /* Darker gold on hover */
}

/* Shared link button style */
.link-button {
  background: none;
  border: none;
  padding: 0;
  color: #FFD700; /* Gold text for links */
  cursor: pointer;
  text-decoration: underline;
}

.link-button:focus {
  outline: none;
}

/* Shared label style */
.form label {
  font-size: 12px;
  color: #A49A76; /* Muted gold color for text to ensure readability */
}

/* Shared span style for messages below buttons */
.form span {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #A49A76; /* Muted gold color for text */
}
.logo {
  display: block;
  margin: 0 auto 20px; /* Centers the logo and adds space below */
  max-width: 100px; /* Adjust as needed for your logo's size */
  height: auto; /* Keeps the aspect ratio of the image */
}